:root {
    --bg-color: #070e04;
    --primary-color: #abe291;
    --secondary-color: #248653;
    --accent-color: #39caaf;
    --text-color: #e6f7e0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color:var(--bg-color);
    background-image: linear-gradient(
        315deg,
        var(--secondary-color) 0%,
        var(--accent-color) 100%
    );
    margin: 0;
    padding: 0;
    height: 100vh;
    color: var(--secondary-color);
}

.navbar-list {
    position: fixed;
    width: 100vw;
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    background-color: rgba(229, 247, 222, 0.5);
}

.navbar-link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 2rem;
    color: var(--bg-color);
    transition:
        background-color 200ms ease-in,
        color 200ms ease-in;
    &:hover {
        background-color: var(--secondary-color);
        color: var(--text-color);
    }
}

.error-msg {
    color: #fe3e3e;
}

.success-msg {
    color: var(--secondary-color);
}