@import url('default.css');

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    width: 28rem;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
    display: grid;
    background-color: var(--text-color);
    border-style: solid;
    border-color: var(--primary-color);
}



.form-group {
    position: relative;
    height: 3rem;
    margin-bottom: 2rem;
}

.form-input {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0.5rem;
    border-color: var(--primary-color);
    border-style: solid;
    outline: none;

    &:hover {
        border-color: var(--accent-color);
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

.form-label {
    position: absolute;
    left: 0rem;
    top: -1rem;
    font-size: 0.8rem;
    transition:
        top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
}

.form-btn {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    background-color: white;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    transition:border-color 200ms ease-in;

    &:hover {
        border-color: var(--accent-color);
    }
}

#picture-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "form-stuff picture-preview";
    height: 8rem;
    margin-bottom: 2rem;
}

#picture-inner-div {
    grid-area: form-stuff;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#picture-input {
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    
    outline: none;
}

#picture-preview {
    display: block;
    margin-left: auto;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--primary-color);
    grid-area: picture-preview;
}

.form p {
    margin-bottom: 1.5rem;
}

#redirect-link {
    color: var(--bg-color);
    transition: color 200ms ease-in;
    &:hover {
        color: var(--accent-color);
    }
}

.message-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 2rem;
    text-align: center;
}

.error-msg {
    color: #fe3e3e;
}

.success-msg {
    color: var(--secondary-color);
}