{% extends 'base.html' %}

{% block title %} 
    <title> Welcome to Workbox </title> 
{% endblock %}

{% block styles %}
{% endblock %} 


{% block content %}
  <div class="flex flex-grow flex-col lg:flex-row justify-start sm:justify-around items-center gap-8 px-8 py-16">
    <div class="flex flex-col gap-4 text-white lg:min-w-[28rem]">
      <h1 class="font-medium text-4xl xs:text-5xl lg:text-7xl">
        One Platform, All Your Work
      </h1>
      <p class="text-base xs:text-xl lg:text-3xl">
        Manage tasks, projects, and deadlines seamlessly from start to finish.
      </p>
      <button class="w-fit text-base xs:text-xl lg:text-3xl border-solid border-4 rounded-2xl px-4 py-2 transition-all hover:scale-125">
        <a class="font-medium" href="/register">
          Get Started
        </a>
      </button>
    </div>

    <div class="rounded-3xl bg-neutral-50 max-w-full xs:max-w-screen-sm">
      <img src="{{url_for('static', filename = './images/teamwork.png')}}" alt="teamwork">
    </div>
  </div>
{% endblock %}