{% extends 'base.html' %}

{% block title %} 
    <title> Welcome to Workbox </title> 
{% endblock %}

{% block styles %}
{% endblock %} 


{% block content %}
  <div class="flex flex-row justify-evenly items-center z-0">
    <div>
      <h1 class="text-7xl font-normal my-4">
        Your Work Platform
      </h1>
      <p class="text-3xl my-4">
        Run and manage your all your work in one place
      </p>
      <button class="border-solid border-2 border-black rounded-lg px-2 transition-all hover:scale-125">
        <a class="text-xl" href="/register">
          Get Started
        </a>
      </button>
    </div>

    <div class="size-2/5">
      <img src="{{url_for('static', filename = './images/teamwork.png')}}" alt="teamwork">
    </div>
  </div>
{% endblock %}