<nav class="flex justify-between items-center bg-slate-100 px-8 h-16 w-full z-10">
  {% if current_user.is_authenticated %}
    {% if current_user.role == "admin" %}
      <a class="logo" href="{{ url_for('adminRoutes.admin_homepage') }}"> workbox </a>
    {% else %}
      <a class="logo" href="{{ url_for('clientRoutes.client_homepage')}}"> workbox </a>
    {% endif %}
  {% else %} 
    <a class="logo" href="{{ url_for('landingRoutes.home_page')}}"> workbox </a>
  {% endif %}

  <button id="menu-button" class="text-2xl md:hidden focus:outline-none">
    ☰
  </button>

  <div class="hidden md:flex items-center h-full">
    <div class="h-full flex flex-row items-center">
      {% if current_user.is_authenticated %}
        {% if current_user.profile_picture %}
          <img src="{{url_for('static', filename='./upload/'+current_user.profile_picture)}}" alt="user_image">
        {% else %}
          <img class="h-full py-2"src="{{url_for('static', filename='./images/placeholder.jpg')}}" alt="user_placeholder">
        {% endif %}
        <p class="nav-user"> {{ current_user.full_name }} </p> 
        <a class="nav-link" href="{{ url_for('landingRoutes.logout') }}"> 
          LOGOUT
        </a>
      {% else %}
      
      <a class="nav-link" href="{{ url_for('landingRoutes.login_page') }}"> 
        LOGIN
      </a>
      <a class="nav-link" href="{{ url_for('landingRoutes.register_page') }}">
        GET STARTED
      </a>
    </div>
    {% endif %}
  </div>
</nav>


<div id="mobile-menu" class="hidden md:hidden bg-slate-100 flex-col absolute z-10 w-full top-16 border-t-[0.3px] border-slate-500 border-solid">
  {% if current_user.is_authenticated %}
    <div class="flex justify-center items-center space-x-2">
      {% if current_user.profile_picture %}
        <img class="h-16 py-2" src="{{url_for('static', filename='./upload/'+current_user.profile_picture)}}" alt="user_image">
      {% else %}
        <img class="h-16 py-2" src="{{url_for('static', filename='./images/placeholder.jpg')}}" alt="user_placeholder">
      {% endif %}
      <p class="mobile-menu-user"> {{ current_user.full_name }} </p>
    </div>
    <a class="mobile-menu-btn" href="{{ url_for('landingRoutes.logout') }}"> 
      LOGOUT
    </a>
  {% else %} 
    <a class="mobile-menu-btn" href="{{ url_for('landingRoutes.login_page') }}"> 
      LOGIN
    </a>
    <a class="mobile-menu-btn" href="{{ url_for('landingRoutes.register_page') }}">
      GET STARTED
    </a>
  {% endif %}
</div>

<script>
  const menuButton = document.getElementById('menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>