{% extends 'base.html' %}

{% block title %} 
    <title> Admin </title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}"/>
{% endblock %} -->

{% block content %}
    <div class="container">
        <div class="content-group">
            {%  with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="message-group">
                    {% for category, message in messages %}
                        <h2 class="{{ category }}" id="message-text"> {{ message }} </h2>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

            <h1> Admin </h1>
            {% for user in users %}
                <div class="info-group">
                    <div id="text-section">
                        <p class="info-text"> User ID: {{ user.id }}</p>
                        <p class="info-text"> Email: {{ user.email }} </p>
                        <p class="info-text"> Full Name: {{ user.full_name }}</p>
                        <p class="info-text"> Phone Number: {{ user.phone_number }}</p>
                    </div>
                    <div id="img-section">
                        {% if user.profile_picture %}
                            <img id="preview-img" src="{{ url_for('static', filename='upload/'+user.profile_picture) }}">
                        {% else %}
                            <img id="preview-img" src="{{ url_for('static', filename='images/placeholder.jpg') }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}