{% extends 'base.html' %}

{% block title %} 
    <title> Dashboard </title> 
{% endblock %}

{% block styles %}
{% endblock %} 

{% block content %}
    <div class="flex justify-center items-center h-full bg-bg-theme">
        <div class="bg-white border-2 border-black w-3/4 h-2/4 rounded-xl shadow-2xl flex flex-col flex-wrap overflow-auto p-5">
            <h1 class ="text-3xl">Create New Workspace</h1>
            <form action="{{ url_for('admin.create_workspace')}}" method="POST">
            
                
            <button class="bg-btn-dflt font-bold text-center text-white"><a href="url_for('adminRoutes.admin_homepage')">Cancel</a></button>
            </form>
            
        </div>
    </div>
{% endblock %}