{% extends 'base.html' %}

{% block title %} 
    <title> Index Page </title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{% endblock %} -->

{% block content %}
    <div class="container">
        <div class="content-group">
            <h1> Index Page </h1>
            <p> {{ users }} users registered!</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo.
            </p>
        </div>
    </div>
{% endblock %}