<nav>
    <ul class="navbar-list">
        <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('main.home_page')}}"> HOME </a> </li>
        {% if current_user.is_authenticated %}
            {% if current_user.role == "admin" %}
                <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('admin.admin_page') }}"> ADMIN </a> </li>
            {% endif %}
            <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('main.dashboard_page') }}"> DASHBOARD </a> </li>
            <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('main.logout') }}"> LOGOUT </a> </li>
        {% else %}
            <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('main.login_page') }}"> LOGIN </a> </li>
            <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('main.register_page') }}"> SIGN UP </a> </li>
        {% endif %}
        
    </ul>
</nav>