{% extends 'base.html' %}

{% block title %}
    <title> {{ task.task_name }} </title> 
{% endblock %}

{% block styles %}
{% endblock %} 

{% block scripts %}

{% endblock %}


{% block content %}


<div class="flex flex-col grow justify-center items-center gap-8 bg-slate-200">
    <div class="text-center text-lg font-bold">
        {%  with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success-msg' %}
                        <span class="text-green-500" id="message-text"> {{ message }} </span>
                    {% else %}
                        <span class="text-red-700" id="message-text"> {{ message }} </span>
                    {% endif %}
                    
                {% endfor %}
            {% else %}
                <span id="message-text"></span>
            {% endif %}
        {% endwith %}
    </div>

    <div class="w-3/4 bg-white border-4 border-black rounded-3xl shadow-2xl flex flex-col px-16 py-6">
        
        <div class="flex flex-row w-full justify-between pt-3">
            <h1 class="text-3xl font-bold pt-3"> {{task.task_name}} </h1>
            <div class="flex justify-center items-center">
                <a class="rounded-full bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 active:bg-btn-dflt p-2 w-32 text-center" href="{{ url_for('clientRoutes.open_workspace', workspace_id=workspace_id) }}"> Back </a>
            </div>
        </div>
            
        <div class="flex flex-row w-full justify-between pt-3">
            <h2 class="text-2xl font-bold"> Status: {{task.status}}</h2>

            <div class="flex flex-row gap-4">
                {% if current_user.role == "admin" %}
                <a class="rounded-full bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 active:bg-btn-dflt p-2 w-32 text-center" href="{{ url_for('clientRoutes.edit_task', workspace_id=workspace_id, task_id=task_id) }}"> Edit Task </a>
                    <form action="{{url_for('adminRoutes.delete_task',workspace_id=workspace_id, task_id=task_id)}}" method="POST">
                        {{delete_task_form.csrf_token}}
                        {{delete_task_form.submit(class="rounded-full bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 hover:cursor-pointer active:bg-btn-dflt p-2 w-32 text-center")}}
                    </form>
                {% else %}
                    <a class="rounded-full bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 active:bg-btn-dflt p-2 w-32 text-center" href="{{ url_for('clientRoutes.edit_task', workspace_id=workspace_id, task_id=task_id) }}"> Edit Status </a>
                {% endif %}
            </div>
            
        </div>

        <h2 class="text-2xl font-bold"> Assigned: {{ task.assigned_user_email_address }} </h2>
        <h2 class="text-2xl font-bold pt-3"> Due Date: {{ task.due_date }} </h2>

        <div class="flex flex-row pt-3">
            <a class="rounded-tl-md bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 active:bg-btn-dflt p-2 w-32 text-center" href="{{ url_for('clientRoutes.open_task_updates', workspace_id=workspace_id, task_id=task_id) }}"> Updates </a>
            <a class="rounded-tr-md bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 active:bg-btn-dflt p-2 w-32 text-center" href="#"> Files </a>
        </div>

        <hr class="bg-black border-2 border-black">

        <div class="pt-8 w-full">
            <form class="flex flex-col gap-8" action="{{ url_for('clientRoutes.open_task_files', workspace_id=workspace_id, task_id=task_id) }}" method="POST" enctype=multipart/form-data>
                {{ new_file_form.csrf_token }}
                {{ new_file_form.document(accept=".pdf") }}
                {{ new_file_form.submit(class="self-end rounded-md bg-btn-dflt font-bold text-white hover:bg-sky-500 ease-linear duration-100 hover:cursor-pointer active:bg-btn-dflt p-2 w-32 text-center") }}
            </form>
        </div>

        <div class="flex flex-col gap-4">
            {% if task.task_files %}
                {% for file in task.task_files %}
                    <p> {{ file.file }} - uploaded by [{{ file.uploader_details.email }} - {{ file.uploader_details.full_name }}]  </p>
                {% endfor %}
            {% else %}
                <h2 class="font-bold text-center p-4 "> This task currently has no files. </h2>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}