{% extends 'base.html' %}

{% block title %} 
    <title> Register Page </title> 
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"/> 
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/register" method="post" class="form" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <h1 class="form-title"> Sign Up </h1>
            <div class="message-group">
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <span class="{{ category }}"> {{ message }} </span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div id="picture-group">
                <div id="picture-inner-div">
                    {{ form.profile_picture(id="picture-input") }}
                    {{ form.profile_picture.label(id="picture-label") }}
                </div>
                <div id="picture-preview"></div>
            </div>
            
            <div class="form-group">
                {{ form.full_name(class="form-input")}}
                {{ form.full_name.label(class="form-label") }}
            </div>

            <div class="form-group">
                {{ form.email(class="form-input")}}
                {{ form.email.label(class="form-label") }}
            </div>

            <div class="form-group">
                {{ form.phone_number(class="form-input")}}
                {{ form.phone_number.label(class="form-label") }}
            </div>

            <div class="form-group">
                {{ form.password(class="form-input")}}
                {{ form.password.label(class="form-label") }}
            </div>

            <div class="form-group">
                {{ form.confirm_password(class="form-input")}}
                {{ form.confirm_password.label(class="form-label") }}
            </div>

            <p> Already have an account? <a id="redirect-link" href="/login"> Login now </a> </p>

            {{ form.submit(class="form-btn") }}
        </form>
    </div>
{% endblock %}