{% extends 'base.html' %}

{% block title %} 
    <title> Login Page </title> 
{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"/> 
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/loginPage.js')}}" async></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/login" method="post" class="form">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h1 class="form-title"> Log In</h1>
            
            <div class="message-group">
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <span class="{{ category }}"> {{ message }} </span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{  form.email(class="form-input") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{  form.password(class="form-input") }}
            </div>
            <p>Don't have an account yet? <a id="redirect-link" href="/register">Register now</a></p>

            <div class="btn-group">
                {{ form.recaptcha }}
                {{ form.submit(class="form-btn") }}
            </div>
        </form>
    </div>
{% endblock %}
