{% extends 'base.html' %}

{% block title %} 
    <title> Login Page </title> 
{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"/> 
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/login" method="post" class="form">
            {{ form.hidden_tag() }}
            <h1 class="form-title"> Log In</h1>

            <div class="error-group">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %} 
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{  form.email(class="form-input") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{  form.password(class="form-input") }}
            </div>
            <p>Don't have an account yet? <a id="redirect-link" href="/register">Register now</a></p>

            {{ form.submit(class="form-btn") }}
        </form>
    </div>
{% endblock %}
