{% extends 'base.html' %}

{% block title %} 
    <title> {{ workspace.workspace_name }} </title> 
{% endblock %}

{% block styles %}
{% endblock %} 

{% block scripts %}
    <!-- TODO: input validation (if any)
    <script src="{{url_for('static', filename='js/registerPage.js')}}" async></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    -->
{% endblock %}


{% block content %}

    <div class="flex flex-col bg-slate-200 gap-8 grow">
        <div class="flex flex-col items-start w-1/2 pl-12 pt-12 gap-4"> 
            <h1 class="font-bold text-black text-4xl"> {{workspace.workspace_name}} </h1>
            {% if current_user.is_authenticated %}
                {% if current_user.role == 'admin' %}
                    <span class="w-1/4 h-16">  
                        <a class="" href="{{url_for('adminRoutes.create_task', workspace_id=workspace.workspace_id)}}">
                            <button class="w-5/6 h-4/5 rounded-lg bg-btn-dflt font-bold text-white text-xl duration-100 hover:cursor-pointer hover:bg-sky-500 active:bg-btn-dflt"> New Task </button>
                        </a>
                    </span>
                {% endif %}
            {% endif %}
        </div>

        <div class="flex flex-col justify-center items-center gap-8">
            <div class="text-center text-lg font-bold">
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success-msg' %}
                                <span class="text-green-500" id="message-text"> {{ message }} </span>
                            {% else %}
                                <span class="text-red-700" id="message-text"> {{ message }} </span>
                            {% endif %}
                            
                        {% endfor %}
                    {% else %}
                        <span id="message-text"></span>
                    {% endif %}
                {% endwith %}
            </div>
            
            <div class="bg-white border-4 border-black w-3/4 h-max rounded-3xl shadow-2xl grid grid-flow-row">
                <div class="row-span-1 grid grid-flow-col grid-cols-5">
                    <h2 class="col-span-1 text-center border-r-4 border-b-4 border-black p-4 font-bold text-xl"> Task </h2>
                    <h2 class="col-span-1 text-center border-r-4 border-b-4 border-black p-4 font-bold text-xl"> Assigned </h2>
                    <h2 class="col-span-1 text-center border-r-4 border-b-4 border-black p-4 font-bold text-xl"> Status </h2>
                    <h2 class="col-span-1 text-center border-r-4 border-b-4 border-black p-4 font-bold text-xl"> Due Date </h2>
                    <span class="col-span-1 size-full flex justify-center items-center border-b-4 border-black">
                        {% if current_user.role == 'admin' %}
                            <a class="flex justify-center items-center w-5/6 h-4/5 rounded-lg bg-btn-dflt font-bold text-white text-center text-xl duration-100 hover:cursor-pointer hover:bg-sky-500 active:bg-btn-dflt" href="{{url_for('adminRoutes.admin_homepage', workspace_id=workspace_id)}}"> Back </a>
                        {% else %}
                            <a class="flex justify-center items-center w-5/6 h-4/5 rounded-lg bg-btn-dflt font-bold text-white text-center text-xl duration-100 hover:cursor-pointer hover:bg-sky-500 active:bg-btn-dflt" href="{{url_for('clientRoutes.client_homepage', workspace_id=workspace_id)}}"> Back </a>
                        {% endif %}  
                    </span>
                </div>

                {% if workspace.tasks %}
                    {% for task in workspace.tasks %}
                            <div class="row-span-1 grid grid-flow-col grid-cols-5 border-b-4 border-black">
                                <h2 class="col-span-1 text-center border-r-4 border-black p-4 font-bold"> {{task.task_name}} </h2>
                                <h2 class="col-span-1 text-center border-r-4 border-black p-4 font-bold"> {{task.assigned_user_email_address}} </h2>
                                <h2 class="col-span-1 text-center border-r-4 border-black p-4 font-bold"> {{task.status}} </h2>
                                <h2 class="col-span-1 text-center border-r-4 border-black p-4 font-bold"> {{task.due_date}} </h2>
                                <span class="flex justify-center items-center w-full h-full">  
                                    <a class="size-full flex justify-center items-center" href="{{ url_for("clientRoutes.open_task_updates", workspace_id=workspace_id,task_id=task.task_id)}}">
                                        <button class="w-5/6 h-4/5 rounded-xl bg-btn-dflt font-bold text-white text-base duration-100 hover:cursor-pointer hover:bg-sky-500 active:bg-btn-dflt"> Open Task </button>
                                    </a>
                                </span>
                            </div>
                    {% endfor %}
                {% else %}
                <div class="row-span-1">
                    <h2 class="col-span-1 text-center p-4 font-bold"> This workspace has no tasks yet! </h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
